.boton-clear{
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: white;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:#009788;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}

.boton-clear:hover{
  background-color: #D1F0F0;
  border: 2px solid #D1F0F0;
}